@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Rubik&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Rubik&family=Secular+One&display=swap");

$font-primary: "Jost";
$font-secondary: "Roboto";

$text-color-basic: #616161;
$text-color-basic-white: #fff;
$text-color-disabled: #959799;
$text-color-auxiliar: rgba(0, 0, 0, 0.3);
$text-color-Opea: #630a37;
$text-color-auxiliar-gray: #797979;

$color-stroke: #ddd;
$color-Opea: #630a37;
$color-background-primary: #f7f7f7;
$color-background-secondary: #fff;
